*{ padding: 0%;
margin: 0%; }
body{background-color: #66B3FF;}

header,section,footer{
    background-color: #ECF5FF;
    border: dotted#84C1FF; }

*{padding: 0;
  margin: 0;}

  body{background-color:#D2E9FF;}

header{
background-color:rgb(106, 168, 197);
height:80px; width: 100%;
 position: fixed;}

 h1{
  color: #C4E1FF; 
  position: absolute;
  left: 120px;
  top: 0;
  line-height: 70px;
  background-image:url(image/9b7d1f8b98b732d332a45b5ee939cbd1.png);
  background-size: cover;
  background-position:center ;
  width: 50px;
  text-indent:-99999999px; }

header ul{
position: absolute;
right: 5vw;
top: 0px;
line-height: 80px;}

header li{
  display: inline;
  margin-right: 4vw;}

header a{
  color: #ffffff;
text-decoration: none;}

header a:hover{
  color: #66B3FF;
  text-decoration:underline;}

  .news{
  background-color:#66B3FF	;
  color: #ffffff ;
  height:95vh;
  background-image:url(image/9b7d1f8b98b732d332a45b5ee939cbd1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;}

.news h2{
  font-size: 60px;
  margin-top: 60px;}

.news p{
    color: #ffffff;
     font-size: 25px;
     margin: 25px 0;}

.news a{
  font-size: 25px;
  color: #ffffff;
  text-decoration: none;
  border: 1px solid #ffffff;
  padding: 5px 20px;
  border-radius: 2px;}

.slogan{
  background-color: #ffffff;
  color:#ffffff ;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 1.8cm;}

  footer{
  background-color: #a0a9df;
  color:#6075eb ;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;}

.shop{display: flex;}

.shop img{width: 100%;}
